#food{
    position: absolute;
    width: 100%;
    height: 100vh;
    left: 0;
    right: 0;
    background: #F1F1F1;
    margin-top: 87rem;
    
  }
  .food-text{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 43px;
    color: #000000;
    text-align: center;
    margin-top: 7rem;
  }
  
  .breakfast-title{
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    text-align: justify;
    color: #000000;
    margin-left: 16rem;
  
  }
  .breakfast-title:hover {
    transform: scale(1.1,1.1);
    transition: 0.5s;
  
  }
  .lunch-title{
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    text-align: justify;
    color: #000000;
    margin-left: 56.8rem;
  }
  .lunch-title:hover {
    transform: scale(1.1,1.1);
    transition: 0.5s;
  
  }
  .dinner-title{
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    text-align: justify;
    color: #000000;
    margin-left: 95rem;
  }
  .dinner-title:hover {
    transform: scale(1.1,1.1);
    transition: 0.5s;
  
  }
  .breakfast-text{
    position: absolute;
    width: 550px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: justify;
    color: #000000;
    margin-top: 6rem;
    margin-left: 3rem;
  
  }
  
  .lunch-text{
    position: absolute;
    width: 550px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: justify;
    color: #000000;
    margin-top: 6rem;
    margin-left: 43rem;
  }
  .dinner-text{
    position: absolute;
    width: 550px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: justify;
    color: #000000;
    margin-top: 6rem;
    margin-left: 82rem;
  }
  .breakfast-img{
    position: absolute;
    width: 400px;
    height: 307px;
    margin-top: 20rem;
    margin-left: 6rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  .breakfast-img:hover {
    transform: scale(1.1,1.1);
    transition: 0.5s;
  
  }
  
  .lunch-img{
    position: absolute;
    width: 450px;
    height: 307px;
    margin-top: 20rem;
    margin-left: 45rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  .lunch-img:hover {
    transform: scale(1.1,1.1);
    transition: 0.5s;
  
  }
  .dinner-img{
    position: absolute;
    width: 400px;
    height: 330px;
    margin-top: 20rem;
    margin-left: 86rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  .dinner-img:hover {
    transform: scale(1.1,1.1);
    transition: 0.5s;
  
  }
  .food-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


  }

  .post-class{
    max-width: 450px;
    max-height: 800px;
    margin-top: 1rem;
    margin-bottom: 3rem;
    background-color: #F1F1F1;

    
    
  }

.text-h2{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: justify;
  color: #000000;
  margin-bottom: 2rem;
  
}

.text{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  margin-bottom: 2rem;

}
.text:hover {
  transform: scale(1.1,1.1);
  transition: 0.5s;

}
.post-image{
  width: 400px;
  height: 300px;
  margin-left: 1rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.post-image:hover {
  transform: scale(1.1,1.1);
  transition: 0.5s;

}
.gallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

}