@import url(header.css);
@import url(attractions.css);
@import url(food.css);
@import url(boroughs.css);
body{
  margin:0px;
}

html {
  scroll-behavior: smooth;
 }
 
 @media only screen and (max-width: 1040px) {
  #food-cards {
    width: 40%;
  }
}
@media only screen and (max-width: 600px) {
  #food-cards {
    width: 40%;
  }
}

