@import url(header.css);
@import url(attractions.css);
@import url(food.css);
@import url(boroughs.css);
@import url(footer.css);
body{
  background: #f9f9f9;
}
:root {
  --black: #000;
  --dark-blue: #253868;
  --light-blue: #2E3344;
  --white: #fff;

  /*Intentions */
  --primary: var(--light-blue);
  --secondary: var(--dark-blue);

  /*Typography */
  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.25rem;
  --h5: 1.5rem;
}
.dark {
  --primary: var(--dark-blue);
  --secondary: var(--light-blue);
}
.light {
  --primary: var(--light-blue);
  --secondary: var(--dark-blue);
}

body{
  margin:0px;
}

html {
  scroll-behavior: smooth;
 }

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 0.875rem 1rem;
  text-decoration: none;
  font-size: 1.063rem;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(122, 116, 116);
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

