body{
  margin:0px;
}
ul {
  z-index: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #253868;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 76px;
}
li {
  float: left;

}

.btn{
  padding: 0.5rem;
  display: block;
  font-size: 1.25rem;
  float: right;
  display: block;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

li a {
  display: block;
  color: #FFFFFF;
  margin-left: 2rem;
  padding: 14px 16px;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

li a:hover {
  color: lightgray;
  transform: scale(1.1,1.1);
  transition: 0.3s;
  border-radius: 0.5rem;

}
.header {
  margin-top: 1rem;
  height: 100vh;
  width: 100%;
  background-image: url();
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(https://wallpapercave.com/wp/V7MR9zv.jpg);
  background-attachment: fixed;
  background-position: center top;
  left: 0;
  right: 0;
}
.navbar-list-item{
  padding: 0.5rem;
  display: block;
  font-size: 1.25rem;
  float: right;

}

.header-text{
  width: 427px;
  height: 75px;
  text-align: center;
  font-family: 'Roadway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 100px;
  line-height: 81px;
  color: white;
  margin-top: 14rem;
  


}

.logo{
  position: absolute;
  width: 273px;
  height: 40px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 37px;
  line-height: 43px;
  text-decoration: none;
  color: #FFFFFF;
  margin-left: 15rem;
  margin-top: 1rem;

}
.logo:hover {
  color: lightgray;

  transition: 0.2s;
  border-radius: 0.5rem;

}

.attractions-text{

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 37px;
  line-height: 43px;
  color: #000000;
  text-align: center;

}


.attractions{
  position: absolute;
  width: 100%;
  height: 150vh;
  left: 0;
  right: 0;
  background: #f9f9f9;

  

}
.statue-of-liberty-img{
  position: absolute;
  width: 500px;
  margin-top: 4rem;
  margin-left: 15rem;
  transition: .5s ease;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.statue-of-liberty-img:hover{
  box-shadow:
  1px 1px skyblue,
  2px 2px skyblue,
  3px 3px skyblue,
  4px 4px skyblue,
  5px 5px skyblue,
  6px 6px skyblue;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
  transition: .5s ease;
  }
.statue-of-liberty-text{
  position: absolute;
  width: 650px;
  height: 337px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: justify;
  color: #000000;
  margin-left: 60rem;
  margin-top: 8rem;
}

.statue-of-liberty-title{
  position: absolute;
  width: 402px;
  height: 67px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  color: #000000;
  margin-left: 71rem;
  margin-top: 4rem;
}
.statue-of-liberty-title:hover {

  transform: scale(1.1,1.1);
    transition: 0.5s;
  
  
  }



.times-square-img{
  position: absolute;
  width: 500px;
  margin-top: 30rem;
  margin-left: 70rem;
  transition: .5s ease;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;

}
.times-square-img:hover{
  box-shadow:
  1px 1px #373737,
  2px 2px #373737,
  3px 3px #373737,
  4px 4px #373737,
  5px 5px #373737,
  6px 6px #373737;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
  transition: .5s ease;
  }
.times-square-text{
  position: absolute;
  width: 650px;
  height: 337px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: justify;
  color: #000000;
  margin-left: 15rem;
  margin-top: 34rem;
}
.times-square-title{
  position: absolute;
  width: 402px;
  height: 67px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  color: #000000;
  margin-left: 28rem;
  margin-top: 30rem;

}
.times-square-title:hover {

  transform: scale(1.1,1.1);
    transition: 0.5s;
  
  
  }

.brooklyn-bridge-img{
  position: absolute;
  width: 500px;
  margin-top: 54rem;
  margin-left: 15rem;
  transition: .5s ease;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.brooklyn-bridge-img:hover{
  box-shadow:
  1px 1px lightblue,
  2px 2px lightblue,
  3px 3px lightblue,
  4px 4px lightblue,
  5px 5px lightblue,
  6px 6px lightblue;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
  transition: .5s ease;
  }
.brooklyn-bridge-text{
  position: absolute;
  width: 650px;
  height: 337px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: justify;
  color: #000000;
  margin-left: 60rem;
  margin-top: 58rem;
}
.brooklyn-bridge-title{
  position: absolute;
  width: 402px;
  height: 67px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  color: #000000;
  margin-left: 71rem;
  margin-top: 54rem;
}
.brooklyn-bridge-title:hover {
  transform: scale(1.1,1.1);
  transition: 0.5s;

}

.food{
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  right: 0;
  background: #ededed;
  margin-top: 87rem;
  
}
.food-text{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 43px;
  color: #000000;
  text-align: center;
}

.breakfast-title{
  position: absolute;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  text-align: justify;
  color: #000000;
  margin-left: 16rem;

}
.breakfast-title:hover {
  transform: scale(1.1,1.1);
  transition: 0.5s;

}
.lunch-title{
  position: absolute;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  text-align: justify;
  color: #000000;
  margin-left: 56.8rem;
}
.lunch-title:hover {
  transform: scale(1.1,1.1);
  transition: 0.5s;

}
.dinner-title{
  position: absolute;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  text-align: justify;
  color: #000000;
  margin-left: 95rem;
}
.dinner-title:hover {
  transform: scale(1.1,1.1);
  transition: 0.5s;

}
.breakfast-text{
  position: absolute;
  width: 550px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: justify;
  color: #000000;
  margin-top: 6rem;
  margin-left: 3rem;

}

.lunch-text{
  position: absolute;
  width: 550px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: justify;
  color: #000000;
  margin-top: 6rem;
  margin-left: 43rem;
}
.dinner-text{
  position: absolute;
  width: 550px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: justify;
  color: #000000;
  margin-top: 6rem;
  margin-left: 82rem;
}
.breakfast-img{
  position: absolute;
  width: 400px;
  height: 307px;
  margin-top: 20rem;
  margin-left: 6rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.breakfast-img:hover {
  transform: scale(1.1,1.1);
  transition: 0.5s;

}

.lunch-img{
  position: absolute;
  width: 450px;
  height: 307px;
  margin-top: 20rem;
  margin-left: 45rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.lunch-img:hover {
  transform: scale(1.1,1.1);
  transition: 0.5s;

}
.dinner-img{
  position: absolute;
  width: 400px;
  height: 330px;
  margin-top: 20rem;
  margin-left: 86rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.dinner-img:hover {
  transform: scale(1.1,1.1);
  transition: 0.5s;

}

.borough{
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  right: 0;
  background: #E7E7E7;
  margin-top: 145rem;
  background-image: url();
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(https://wallpapercave.com/wp/QXj1yIN.jpg);

  left: 0;
  right: 0;
}
.borough-title{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 43px;
  color: #000000;
  text-align: center;
  margin-top: 10rem;
}
.borough-gallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 4rem;

  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.borough-img{
  width: 300px;
  height: 600px;
}

@import url('https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap');
 :root {
	 --d: 700ms;
	 --e: cubic-bezier(0.19, 1, 0.22, 1);
	 --font-sans: 'Rubik', sans-serif;
	 --font-serif: 'Cardo', serif;
}
 * {
	 box-sizing: border-box;
}

 .borough-content {
	 display: grid;
	 grid-gap: 1rem;
	 padding: 1rem;
	 max-width: 1300px;

	 margin: 0 auto;
	 font-family: var(--font-sans);
}
 @media (min-width: 600px) {
	 .page-content {
		 grid-template-columns: repeat(2, 1fr);
	}
}
 @media (min-width: 800px) {
	 .borough-content {
		 grid-template-columns: repeat(5, 1fr);
	}
}
 .card {
	 position: relative;
	 display: flex;
	 align-items: flex-end;
	 overflow: hidden;
	 padding: 1rem;
	 width: 100%;
	 text-align: center;
	 color: whitesmoke;
	 background-color: whitesmoke;
	 box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
 @media (min-width: 600px) {
	 .card {
		 height: 350px;
	}
}
 .card:before {
	 content: '';
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 110%;
	 background-size: cover;
	 background-position: 0 0;
	 transition: transform calc(var(--d) * 1.5) var(--e);
	 pointer-events: none;
}
 .card:after {
	 content: '';
	 display: block;
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 200%;
	 pointer-events: none;
	 background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.320) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.540) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.790) 100%);
	 transform: translateY(-50%);
	 transition: transform calc(var(--d) * 2) var(--e);
}
 .card:nth-child(1):before {
	 background-image: url(https://thumbs.dreamstime.com/b/bronx-ny-usa-july-vertical-view-historic-high-bridge-spanning-harlem-river-highbridge-water-tower-distance-224848840.jpg);
}
 .card:nth-child(2):before {
	 background-image: url(https://media.istockphoto.com/photos/the-freedom-tower-and-brooklyn-bridge-picture-id638847506?k=20&m=638847506&s=612x612&w=0&h=9x0_p57e12xUoBpdBfxlFDUWbZ1dJndd8PxNhYC-_-E=);
}
 .card:nth-child(3):before {
	 background-image: url(https://andystravelblog.boardingarea.com/wp-content/uploads/2015/08/Brooklyn-Bridge-Vertical-Wallpaper-1.jpg);
}
 .card:nth-child(4):before {
	 background-image: url(https://as2.ftcdn.net/v2/jpg/01/27/75/61/1000_F_127756110_my7Z3sZfugPVvMay8O3qZqsFeUHURvR3.jpg);
}
.card:nth-child(5):before {
  background-image: url(https://dux7id0k7hacn.cloudfront.net/as/assets-mem-com/cmi/8/7/3/3/10483378/20211214_083154693_0_orig.jpg/-/diane-gibbons-staten-island-ny-photos1.jpg);
}
 .content {
	 position: relative;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 width: 100%;
	 padding: 1rem;
	 transition: transform var(--d) var(--e);
	 z-index: 1;
}
 .content > * + * {
	 margin-top: 1rem;
}
 .title {
	 font-size: 1.3rem;
	 font-weight: bold;
	 line-height: 1.2;
}
 .copy {
	 font-family: var(--font-serif);
	 font-size: 1.125rem;
	 font-style: italic;
	 line-height: 1.35;
}

 @media (hover: hover) and (min-width: 600px) {
	 .card:after {
		 transform: translateY(0);
	}
	 .content {
		 transform: translateY(calc(100% - 4.5rem));
	}
	 .content > *:not(.title) {
		 opacity: 0;
		 transform: translateY(1rem);
		 transition: transform var(--d) var(--e), opacity var(--d) var(--e);
	}
	 .card:hover, .card:focus-within {
		 align-items: center;
	}
	 .card:hover:before, .card:focus-within:before {
		 transform: translateY(-4%);
	}
	 .card:hover:after, .card:focus-within:after {
		 transform: translateY(-50%);
	}
	 .card:hover .content, .card:focus-within .content {
		 transform: translateY(0);
	}
	 .card:hover .content > *:not(.title), .card:focus-within .content > *:not(.title) {
		 opacity: 1;
		 transform: translateY(0);
		 transition-delay: calc(var(--d) / 8);
	}
	 .card:focus-within:before, .card:focus-within:after, .card:focus-within .content, .card:focus-within .content > *:not(.title) {
		 transition-duration: 0s;
	}
}
